[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	co = checkout
	cob = checkout -b
	pu = push
	p = pull
	s = status
    delete-local-merged = "!git fetch && git branch --merged | egrep -v 'master|main' | xargs git branch -d"

[init]
    defaultBranch = main


[core]
	excludesfile = /Users/jmwright/.gitignore_global
	editor = nvim

[fetch]
	prune = true
[rebase]
	updateRefs = true

[includeIf "gitdir:/Users/jmwright/.config/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/wave/src/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/code/"]
  path = ~/.gitconfig-personal
