[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Jean-Mark Wright
	email = jeanmark.wright@gmail.com
[alias]
	co = checkout
	cob = checkout -b
	pu = push
	p = pull
	s = status

[core]
	excludesfile = /Users/jmwright/.gitignore_global
	editor = nano
